<%= form_with(model: [@event,@product,@comment], local: true, url: event_product_comments_path(product_id: @product.id)) do |form| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    投稿者(20文字まで)<br>
    <%= form.text_field :commenter, id: :comment_commenter, maxlength: 20, class: "w-100 p-2", placeholder: "じゃっくん"%>
  </div>

  <div class="field h-50">
    コメント<br>
    <%= form.text_area :content, id: :comment_content, class: "w-100 p-2", style:"height: 100px"%>
  </div>

    <div class="text-center">
      <%= button_tag type: "submit", class: "btn btn-primary w-50" do %>
        投稿する<i class="icon-arrow-right"></i>
      <% end %>
    </div>
<% end %>
