<%= form_with(model: [@event,@product], local: true, url: event_products_path) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field mb-4">
    <h6 class="mb-2 font-weight-bold">プロダクト名</h6>
    <%= form.text_field :name, id: :product_name, class:"w-100"%>
  </div>

  <div class="field mb-4">
    <h6 class="mb-2 font-weight-bold">概要</h6>
    <%= form.text_area :about, id: :product_about, class:"w-100"%>
  </div>

  <div class="field mb-4">
    <h6 class="mb-2 font-weight-bold">メンバー</h6>
    <%= form.text_field :member, id: :product_member, class:"w-100"%>
  </div>

  <div class="field mb-4">
    <h6 class="mb-2 font-weight-bold">こんなメンバーに来てほしい！</h6>
    <%= form.text_area :need_people, id: :product_need_people, class:"w-100" %>
  </div>

  <div class="field mb-4">
    <h6 class="mb-2 font-weight-bold">参考URL</h6>
    <%= form.text_field :reference_url, id: :product_reference_url, class:"w-100"%>
  </div>

  <div class="actions text-center">
    <%= form.submit "作成", class:"btn btn-primary w-50"%>
  </div>
<% end %>
