<!DOCTYPE html>
<html>
  <head>
    <title>JackAdvice</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%=link_to "夏休みのプロダクト", root_path, class:"text-center mb-5 mt-5", id:"titleOfAll"%>
    <%= yield %>
  </body>
</html>
